.wrapper{
    margin: auto;
    background-color: rgb(57, 5, 5);
    padding: 20px;
}
img{
    max-width: 150px;
    height: auto;
    float: left;
    margin: 5px;
}
.container{
    clear: right;
}
h1,dl{
    background-color: green;
    padding: 15px;
}
body{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    align-items: center;
}
dl{
    clear: left;
}
dd{
    margin-left: 0;
}
dt{
    font-size: 1.15rem;
    font-weight: bold;
}

